/* CSS Document  
Author @navdeepisno1
*/

/*font-family : used for defining font name,
user-select: used to slect type of behavior when user selects the text
width : used to define the width of element (e.g div,image,etc..)
height : used to define height of element 
z-index : used to define diffeent layers in the window
position : used to define type of position i.e. whether w.r.t parent ,self or window
padding: used to define spacing inside the element
margin: used to deifne spacing outside the element
*/
body
{
	min-height: 500px;
}
*
{
	font-family: arial;
	user-select: none;
}

.bgImage
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -999999999;
	top: 0;
	left: 0;
	background-image: url("../images/bgImage/bgImage3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.navbar
{
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	border-bottom: thin solid #fff;
	color: #fff;
}

.navdirectory
{
	padding: 10px 0;
	z-index: 101;
	position: fixed;
	width: 300px;
	height: calc(100% - 100px);
	top: 50px;
	left: 0;
	background-color: rgba(0,0,0,0.8);
	border-right: thin solid #fff;
	border-top: thin solid #fff;
	color: #fff;
}

.screen-small-wrapper
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999999;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.95);
	display: none;
}

.screen-small-wrapper p{
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}
@media only screen and (max-width: 600px) {
.screen-small-wrapper
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999999;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.95);
	display: block;
	color: #fff;
	text-align: center;
}
}
@media only screen and (max-height: 600px) {
.screen-small-wrapper
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 99999999;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.95);
	display: block;
	color: #fff;
	text-align: center;
}
}

.editor-wrapper
{
	padding: 10px 10px 10px 10px;
	z-index: 102;
	position: fixed;
	width: calc(100% - 300px);
	height: calc(100% - 100px);
	top: 50px;
	left: 300px;
	background-color: rgba(0,0,0,0.9);
}

.editor-wrapper .file .content
{
	padding: 10px 10px;
	position: absolute;
	top: 10px;
	left: 60px;
	overflow-y: auto;
	word-wrap: normal;
	width: calc(100% - 110px);
	height: calc(100% - 40px);
	background: #fff;
	border-radius: 2px;
	display: inline-block;
}

.editor-wrapper .file .linesCounter
{
	padding: 10px 0;
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: center;
	overflow: auto;
	width: 50px;
	color: #fff;
	height: calc(100% - 40px);
	background: transparent;
}


.navbar ul
{
margin: 0;
padding: 0;
list-style: none;	
overflow: hidden;
}
.navbar ul li
{
	height: auto;
	float: left;
}
.navbar ul li div
{
	text-align: center;
	width: auto;
	font-weight: 700;
	padding: 0px 25px; 
	background: transparent;
	color: #fff;
	line-height: 50px;
	text-decoration: none;
	transition: 0.2s all;
}

.navbar ul li div:hover
{
	cursor: pointer;
	background-color: #fff;
	color: #333;
}

.navbar-right
{
	height: 50px;
	position: absolute;
	right: 0;
	top: 0;
	line-height: 50px;
	padding: 0 25px;
}
.navbar-right #wordCount
{
	margin: 0;
	position: absolute;
	top: 0;
	right: 350px;
	height: 50px;
}
.navbar-right select
{
	background: #fff;
	height: 30px;
	color: #000;
	width: 200px;
	font-weight: 700;
	text-align: center;
	outline: none;
	border-radius: 2px;
	border: none;
}
.footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
	color: #fff;
	text-align: center;
	z-index: 102;
	border-top: thin solid #fff;
	background: rgba(0,0,0,0.75);
}

.navdirectory div .fileInput
{
	border-radius: 2px;
	border: none;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	font-weight: 700;
	color: #000;
}
.navdirectory form .navdirectory-fields div
{
	margin: 15px 10px;
}
.navdirectory form .navdirectory-fields
{
	margin: 0 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 20px);
	height: calc(100%-50px);
	overflow: auto;
}
.navdirectory form .navdirectory-submit
{
	margin: 0 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 20px);
	height: 50px;
}

.help-wrapper-hidden
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 103;
	background: rgba(0,0,0,0.75);
	display: none;
}
.mainDiv
{
	width: 80%;
	height: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:  translateX(-50%) translateY(-50%);
	background: #aaa;
	border-radius: 5px;
	overflow: auto;
	word-wrap: normal;
	box-shadow: 0 0 10px 2px #fff;
	padding: 10px;
}

.font-white
{
	color: #fff; 
	text-align: center;	
}

.helpText
{
	word-wrap: normal;
	width: 100%;
	background: #fff;
	padding: 10px;
	border-radius: 5px;
	height: 70%;
}

.position-absolute-right
{
	position: absolute;
	top: 10px;
	right: 10px;
}






